#map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: #f9f9f9;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
}

#map {
    height: 500px;
    width: 100%;
    max-width: 1000px;
    border: 2px solid #ccc;
    border-radius: 8px;
    z-index: 0;
}

@media (max-width: 1024px) {
  #map {
    height: 50vh;
  }
}

@media (max-width: 768px) {
  #map {
    height: 40vh;
  }
}

@media (max-width: 480px) {
  #map {
    height: 35vh;
  }
}

